.face {
    fill: gold;
}

.mouth {
    fill: none;
    stroke: #000;
    stroke-width: 6px;
    stroke-linecap: round;
}

.left-eyebrow{
    transition-property: fill 2s linear;
    transform: rotate(80deg);
    transform-origin: 100px 82px;
    fill: red;
   
}

.right-eyebrow{
    transition-property: fill 2s linear;
    transform: rotate(100deg);
    transform-origin: 156px 82px;
    fill: red;
    

}

.smiley:hover .left-eyebrow{
    fill: blue;
    
}

.smiley:hover .right-eyebrow{
  fill: blue;
    
}

